## Cok degiskenli aykiri deger analizi:

In [2]:
## Local Outlier Factor (LOF)

Gozlemleri bulunduklari konumda yogunluk tabanli skorlayarak buna gore aykiri deger olabilecek degeri tanimlamaya olanak saglar.
Bir noktanin local yogunlugu bu noktanin komsulari ile karsilastirilir. Eger bir nokta komsunlarinin yogunlugundan anlamli sekilde dusuk ise bu nokta komsularindan daha seyrek bir bolgede bulunuyordur yorumu yapilabilir. Dolayisiyla burada bir komsuluk yapisi soz konusu. Bir degerin cevresi yogun dglse demek ki bu deger aykiri degerdir sek.de degerlendirlir.

In [5]:
import seaborn as sns
diamonds=sns.load_dataset('diamonds') #diamonds isimli veri setini seaborn kutuphanesinden cektik.
diamonds=diamonds.select_dtypes(include=['float64','int64']) #Sadece icerisindeki sayisal degerlere erismek icin tip secimi.
df=diamonds.copy()
df=df.dropna() #Veri setindeki eksik degerleri silerek, disarida birakiyoruz ve son dataframe'imizi olusturduk.
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [7]:
# 2 fonksiyon import etmemiz gerekiyor.
import numpy as np
from sklearn.neighbors import LocalOutlierFactor

In [ ]:
#LOF kullanarak bir skorlama islemi gerceklestirecegiz:
clf = LocalOutlierFactor(n_neighbors = 20)